@model IEnumerable<Dungeons.Models.CharacterBag>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CharacterCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Silver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Silver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copper)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterBagID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterBagID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterBagID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
