@model Dungeons.Models.CharacterEquipped

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CharacterEquipped</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmourClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmourClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainHand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffHand)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CharacterEquippedID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
