@model Dungeons.Models.CharacterEquipped

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CharacterEquipped</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmourClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmourClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainHand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffHand)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CharacterEquippedID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
