@model IEnumerable<Dungeons.Models.CharacterEquipped>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CharacterCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmourClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmourName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainHand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OffHand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmourClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffHand)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterEquippedID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterEquippedID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterEquippedID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
